*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// inicio de estilo para index
/* estilo navegador */
.navbar{
    background-image: url(/galeria/motorcycle-2186589_1920.jpg);
    background-size: cover;
    background-position: center;
    text-align: end;
}
.empresa{
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.collapse{
    display:inline-flex;
}
.collapse a{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.collapse a:hover{
    color:rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 1s;
    border-radius: 40px;
    align-items: center;
}
span1:hover{
    color: red;
    transition: 1.5s;
}
.logo{
    display: flex;
    align-items: center;
}
.nav-link{
    display: inline-flex;
}
.navbar img{
    width: 100px;
    height: auto;
}
/* finaliza estilo navegador */

/* Estilo card historia */
.contenido{
    font-size: 18.5px;
}
.principal-card{
    padding-top: 2px;
}
/* finaliza estilo card historia */

/* estilo footer  */
.bi{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 120px;
    text-align: center;
}
.bi::before{
    margin-right: 15px;
}
.col-sm{
    text-align: center;
    background-color: rgba(148, 0, 0, 0.945);
    margin-top: 1px;
    height: auto;
    font-weight: 300;
}
.footer2{
    background-color: black;
    height: auto;
    
    }

.copyright{
    font-size: 15px;
    color: white;
}
.logofa{
    color: rgb(0, 68, 255);
}
.fa{
    color: white;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
span2:hover{
    color: rgb(0, 68, 255);
    transition: 1s;
}
.logoins{
    color: orange;
}
.ins{
    color: white;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
span3:hover{
    color: orange;
    transition: 1s;
}
.logotwi{
    color: rgb(0, 174, 255);
}
.twi{
    color: white;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
span4:hover{
    color: rgb(0, 174, 255);
    transition: 1s;
}
/* finaliza diseño footer  */
// finaliza estilo para index
